<DOCTYPE htmL>
<html lang="pt-br">
    <head>
        <title>Test</title>
        <meta charset="utf-8">

        <body>
            <form id="login" name="login">
                <label for="name">
                    <input type="name" name="name" id="name" placeholder="Please, insert your name" class="name">                    
                </label>
                <label for="email">
                    <input type="email" name="email" id="email" placeholder="Please, insert your e-mail" class="email">
                </label>
                <label for="password">
                    <input type="password" name="password" id="password" placeholder="Please, insert your password" class="password">
                </label>
                <button type="button" class="login">
                    ENVIAR
                </button>
            </form>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
            <script src="js/index.js"></script>
        </body>
    </head>
</html>
